.minHeight {
  min-height: 100vh;
}

.headerWrapper {
  width: 100%;
  background-color: black;
  border-bottom: 1px solid #E5D01D;
}

.header {
  background-color: black;
  background-image: url(https://static-mh.content.disney.io/starwars/assets/navigation/sw_logo_horiz@2x-f98247cb30aa.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 192px;
  margin: auto;
  
}
